In [8]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
#we used the vectorizer to convert text to numbers

In [31]:
def text_matrix (massage_list,vectorizer):
    document_matrix=vectorizer.fit_transform(massage_list)
    return pd.DataFrame(document_matrix.toarray(),columns=vectorizer.get_feature_names())

In [32]:
my_massage=['My name is Asitha','I would like to be a Data Scentist', 'It is my dream job']

In [33]:
count_vec=CountVectorizer()

In [34]:
text_matrix(my_massage,count_vec)

   asitha  be  data  dream  is  it  job  like  my  name  scentist  to  would
0       1   0     0      0   1   0    0     0   1     1         0   0      0
1       0   1     1      0   0   0    0     1   0     0         1   1      1
2       0   0     0      1   1   1    1     0   1     0         0   0      0

#### TF

$\displaystyle tf(i,j) = \frac{n(i,j)}{\sum_{k=1}^{N} (n(i,j)}$

#### IDF

$\displaystyle idf(w) = \log(\frac{N}{df_{t}})$

In [35]:
tf_idf=TfidfVectorizer()

In [38]:
my_massage_2=['My name name name is Asitha','I would like to be a Data Scentist', 'It is my dream job']

In [39]:
text_matrix(my_massage,tf_idf)

,asitha,be,data,dream,is,it,job,like,my,name,scentist,to,would
0,0.562829,0.000000,0.000000,0.000000,0.428046,0.000000,0.000000,0.000000,0.428046,0.562829,0.000000,0.000000,0.000000
1,0.000000,0.408248,0.408248,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.408248,0.408248,0.408248
2,0.000000,0.000000,0.000000,0.490479,0.373022,0.490479,0.490479,0.000000,0.373022,0.000000,0.000000,0.000000,0.000000